{% extends 'traur2/base.html' %}
{% load static %}
{% block content %}
<h2 class="title">Контактная информация</h2>
    <p class="information__kontakt">8 (800) 550 5858 <br> 8 (800) 660 2841 <br> <br> Александр Васильевич <br> Виктория Дмитриевна  <br> <br>г. Ликино-Дулево, ул. Коммунистическая, д. 41, кв. 22 <br> <br> Время работы 08 : 00 - 20 : 00</p>
    <h2 class="title">Лучшие сотрудники</h2>
    <div class="cpntainer__leader">
      <div class="leader__sales"><img src="{% static 'img/sovesh 1.png'%}" alt="">
        <p>Соловьев Макар Максимович <br> 8 (123) 456 7890 <br> makarsolov@gmail.com </p>
      </div>
      <div class="leader__sales"><img src="{% static 'img/sovesh 1.png'%}" alt="">
        <p>Соловьев Макар Максимович <br> 8 (123) 456 7890 <br> makarsolov@gmail.com</p>
      </div>
      <div class="leader__sales"><img src="{% static 'img/sovesh 1.png'%}" alt="">
        <p>Соловьев Макар Максимович <br> 8 (123) 456 7890 <br> makarsolov@gmail.com</p>
      </div>
    </div><br><br><br><br>
{% endblock %}